<div class="main">

  <%= form_tag("/task/search") do %>
    <div class="form-group">
      <div class="input-content">
        <label>
          日付：<input type="date" class="input-date" name="search_date" value="<%= @today %>"/>
        </label>
        <input type="submit" class="btn-flat-border" value="検索">
      </div>
    </div>
  <% end %>

  <% @tasks.each do |task| %>
    <div class="container">
      <div>
        due <%= task.limit_date %>
        <% if @today > task.limit_date %>
          <wrap class="error_limit">期限超過</wrap>
        <% end %>
      </div>
      <br>
      <div><%= task.title %></div>
      <br>

      <wrap class="btn btn-flat-border">
        <%= link_to("詳細", "/task/show/#{task.id}") %>
      </wrap>
    </div>
  <% end %>

  <wrap class="btn btn-flat-border">
    <%= link_to("新規登録", "/task/new") %>
  </wrap>

</div>