<div class="main">

  <div class="container">
    <h1>ルーティーン一覧</h1>
    <table>
      <thead>
      <tr>
        <th>周期r</th>
        <th>タイトル</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @routine.each do |routine| %>
        <tr>
          <td>日次</td>
          <td><%= routine.title %></td>
          <td>
            <wrap class="btn btn-flat-border">
              <%= link_to("詳細", "/routine/show/#{routine.id}") %>
            </wrap>
            <wrap class="btn btn-flat-border">
              <%= link_to("編集", "/routine/edit/#{routine.id}") %>
            </wrap>
            <wrap class="btn btn-flat-border">
              <%= link_to("削除", "/routine/destroy/#{routine.id}") %>
            </wrap>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <br>
  <wrap class="btn btn-flat-border">
    <%= link_to("新規登録", "/routine/new") %>
  </wrap>
</div>