<div class="main">

  <div class="container_wide">
    <h1>ルーティーン一覧</h1>
    <table>
      <thead>
      <tr>
        <th>周期r</th>
        <th>タイトル</th>
        <th>詳細</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @routine.each do |routine| %>
        <tr>
          <td>日次 <%= routine.limit_time %></td>
          <td><%= routine.title %></td>
          <td><%= simple_format(h(routine.content)) %></td>
          <td>
            <wrap class="link-button">
              <%= link_to("詳細", "/routine/show/#{routine.id}") %>
            </wrap>
            <wrap class="link-buttonr">
              <%= link_to("編集", "/routine/edit/#{routine.id}") %>
            </wrap>
            <wrap class="link-button">
              <%= link_to("削除", "/routine/destroy/#{routine.id}") %>
            </wrap>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
  <br>
  <wrap class="link-button">
    <%= link_to("新規登録", "/routine/new") %>
  </wrap>
</div>