<div class="main">
  <div class="container">
    <h1>ルーティーン詳細詳細</h1>
    <div class="form-group">
      <h2><label>タイトル:</label></h2>
      <div class="input-content">
        <%= @routine.title %>
      </div>
    </div>

    <div class="form-group">
      <h2><label>周期:</label></h2>
      <div class="input-content">
        <%= @routine.limit_time %>
      </div>
    </div>

    <div class="form-group">
      <h2><label>内容:</label></h2>
      <div class="input-content">
        <%= @routine.content %>
      </div>
    </div>

    <hr>
    <br>
    <wrap class="btn btn-flat-border">
      <%= link_to("編集", "/task/edit/#{@routine.id}") %>
    </wrap>

    <wrap class="btn btn-flat-border">
      <%= link_to("削除", "/task/destroy/#{@routine.id}") %>
    </wrap>

    <br><br>
  </div>
</div>